
.idea/.name
.idea/dataSources.ids
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dictionaries/Matt.xml
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/quranfalweb (DESKTOP-A6OQQ5T's conflicted copy 2016-06-19).iml
.idea/quranfalweb.iml
.idea/vagrant.xml
.idea/vcs.xml
.idea/workspace (DESKTOP-A6OQQ5T's conflicted copy 2016-06-19).xml
.idea/workspace.xml
vm/dev/.vagrant/
vm/prod/.vagrant/
vm/dev/ssh.exe.stackdump
/vm/prod/Vagrantfile
/vm/prod/awskey*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Django stuff:
*.log
*.pot

