<!DOCTYPE html>

<html lang="en">

{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Holy Qur'an</title>

    <link rel="stylesheet" href="{% static 'quranfal.css' %}" type="text/css"/>

    <script src="{% static 'quran/quran.js' %}"></script>

    <script src="{% static 'jquery/jquery-2.2.4.js' %}"></script>
    <script src="{% static 'modernizr.js' %}"></script>

    <script src="{% static 'toastr/toastr.min.js' %}"></script>
    <link href="{% static 'toastr/toastr.min.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}" type="text/css"/>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>

    <link rel="stylesheet" href="{% static 'fancybox/source/jquery.fancybox.css' %}" type="text/css" media="screen"/>
    <script type="text/javascript" src="{% static 'fancybox/source/jquery.fancybox.pack.js' %}"></script>

    <script>
        var word_meanings = {}
        var words_to_highlight_in_aya = {}
        var words_to_highlight_in_page = []
        var user_words = []
    </script>
</head>

{% load bootstrap3 %}

<body>
{% block header %}
{% endblock %}

{% if messages %}
    <div>
        {% for message in messages %}
            {% bootstrap_alert message %}
        {% endfor %}
    </div>
{% endif %}

<div class="page_container">

    {% if can_mark_known_words and user_words %}
        <script> user_words = {{ user_words | safe }}</script>
    {% endif %}


    <div class="login_notification">
        <a href="#0" class="cd-btn">settings</a>
        {% if not_logged_in %}
            | You can <a href="/accounts/login/">login</a> to mark words as known or add to your study list
        {% else %}
            | <a href="/accounts/logout/">log out</a>
            {% if can_mark_unknown_words %}
                | <a href="/quran/study/saved/" class="fancybox fancybox.ajax">words saved</a>
            {% endif %}
        {% endif %}
    </div>

    {% block body %}
    {% endblock %}
</div>

{% block footer %}
    <div class="page_container">
        <div class="footer m-t">
            <small> Quran4.me &copy; 2016</small>
        </div>
    </div>
{% endblock %}

<script>
    $(document).ready(function () {
        $('.fancybox').fancybox()

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "500",
            "hideDuration": "500",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    })

</script>

<div class="cd-panel from-left">
    <header class="cd-panel-header">
        <div>Settings</div>
        <a href="#0" class="cd-panel-close">Close</a>
    </header>

    <div class="cd-panel-container">
        <div class="cd-panel-content">
        </div> <!-- cd-panel-content -->
    </div> <!-- cd-panel-container -->
</div> <!-- cd-panel -->

</body>
</html>