
{% load static %}
<script src="{% static 'quranfal.js' %}"></script>

<script>

    // convert ayas to words first!
    var aya_groups = $('div.aya_group')
    aya_groups.toArray().forEach(function (group) {
        var group_jq = $(group)
        var learning = group_jq.hasClass('learning')
        var show_word_meanings = group_jq.hasClass('show-word-meanings')

        var ayas = group_jq.children('.aya_wrapper').children('.aya')

        ayas.toArray().forEach(function(aya){
                var words_to_highlight = (words_to_highlight_in_aya[aya.id] || []).concat(words_to_highlight_in_page)
                convert_aya_to_words(aya, show_word_meanings, learning, words_to_highlight)
        })
    })


    $(document).ready(function () {

        // set the data-list attribute for words in user's lists
        user_words.forEach(function (word_defn) {
            var sura = word_defn[0]
            var aya = word_defn[1]
            var word = word_defn[2]
            var list = word_defn[3]
            $('span#id_' + sura + '_' + aya + ' div.word_wrapper[data-word="' + word + '"]').attr('data-list', list)
        })

        //magic to enable hover on touch devices
        $('body').bind('touchstart', function () {
        })

        // open word details on click
        $('.word').on('click', function (event) {
            var div = $(event.target)
            var word = div.parent().attr('data-word')
            var sura = div.parent().parent().attr('data-sura')
            var aya = div.parent().parent().attr('data-aya')
            if (word == "key")
                window.open('/quran/' + sura + '/' + aya + '/', '_blank'); // open aya
            else
                window.open('/quran/' + sura + '/' + aya + '/' + word + '/', '_blank'); // open word
        })

        // ajax save for words in learning mode
        $('.learning div.button').on('click', function (event) {
            var div = $(event.target)
            var word = div.parent().attr('data-word')
            var sura = div.parent().parent().attr('data-sura')
            var aya = div.parent().parent().attr('data-aya')
            var utext = div.parent().children('div.word').first().html()
            utext = remove_diacritics(utext)

            $.ajax({
                type: 'POST',
                url: '/quran/learning/word/',
                data: {
                    sura: sura,
                    aya: aya,
                    word: word,
                    list: div.hasClass('lower') ? 1 : 2
                },
                success: function (message) {
                    message = JSON.parse(message)
                    toastr.remove()
                    toastr['info'](message.message)
                    $('div.word').each(function (index) {
                        if (remove_diacritics($(this).html()) == utext)
                            $(this).parent().attr('data-list', message.list)
                    })
                },
                error: function (message) {
                    message = JSON.parse(message)
                    alert(message.message)
                    console.log(message)
                }
            })
        })

    })
</script>