{% extends 'quranfal/base.html' %}

{% block body %}

    <link href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif" rel="stylesheet" type="text/css">
    {% load quran %}

        <div class="wire_frame">
            <div class="outer_frame">
                <div class="wire_frame">
                    <div class="inner_frame">
                        <div class="wire_frame" style="padding: 3px;">
                            <div class="page wire_frame" style="padding: 10px;">

                                <div class="aya_group {{ can_mark_known_words|yesno:" can-mark-known-words," }}{{ can_mark_unknown_words|yesno:" can-mark-unknown-words," }}{{ show_word_meanings|yesno:" show-word-meanings," }}{{ show_translation|yesno:" show-translation," }}">
                                    {% for aya in ayas %}
                                        {% if aya.bismillah %}
                                            <div class="sura-header">سورة {{ aya.sura.text }}</div>
                                            <div class="bismillah">
                                                {{ aya.bismillah }}
                                            </div>
                                        {% endif %}

                                        {% include 'quranfal/aya_span.html' with aya=aya %}
                                    {% endfor %}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'quranfal/page_navigation.html' %}


    {% include "quranfal/page_script.html" %}

{% endblock %}