{% extends 'quranfal/base.html' %}

{% block body %}

    {% load static %}
    <script src="{% static 'quickflip2/jquery.quickflip.source.js' %}"></script>
    <link rel="stylesheet" href="{% static 'quickflip2/demo/css/basic-quickflips.css' %}"/>


    <link href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif" rel="stylesheet" type="text/css">
    {% load quran %}

    {% if learning %}
        <script> var user_words = {{ user_words | safe }}</script>
    {% endif %}

    <div class="page_container">

        <div class="login_notification">
            {% if not_logged_in %}
                You can <a href="/accounts/login/">login</a> to mark words as known or add to your study list
            {% else %}
                <a href="/accounts/logout/">log out</a>
                | <a href="#0" class="cd-btn">settings</a>
                | <a href="/quran/study/saved/" class="fancybox fancybox.ajax">words saved</a>
            {% endif %}
        </div>

        <div class="wire_frame">
            <div class="outer_frame">
                <div class="wire_frame">
                    <div class="inner_frame">
                        <div class="wire_frame" style="padding: 3px;">
                            <div class="page wire_frame" style="padding: 10px;">

                                <div class="aya_group{{ learning|yesno:" learning," }}{{ show_word_meanings|yesno:" show-word-meanings," }}">
                                    {% for aya in ayas %}

                                        {% if aya.bismillah %}
                                            <div class="sura-header">سورة {{ aya.sura.text }}</div>
                                            <div class="bismillah">
                                                {{ aya.bismillah }}
                                            </div>
                                        {% endif %}

                                        <span class="aya_wrapper">

                                        <span class="aya"
                                              id="{{ aya.aya_id }}"
                                              data-sura="{{ aya.sura.number }}"
                                              data-aya="{{ aya.number }}"
                                              data-learning="{{ aya.userayas.all.0.list_id }}"
                                              data-href="{{ aya.get_absolute_url }}"
                                              data-translation="&lrm;{{aya.translations.all.0.text}}&lrm;"
                                              >
                                            {{ aya.text }}
                                        </span>

                                        {{ aya.word_meanings_json|safe }}
                                    </span>
                                    {% endfor %}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'quran/page_navigation.html' %}
    </div>


    {% include "quranfal/page_script.html" %}

{% endblock %}