{% load static %}
<script src="{% static 'jquery/jquery-2.2.4.js' %}"></script>
<script src="{% static 'quranfal.js' %}"></script>

{% load bootstrap3 %}
<form action="/quran/settings/" ajax-submit method="post">
    {% csrf_token %}
    {% bootstrap_form form %}

    <a href="#" id="beginner">beginner</a>
    | <a href="#" id="intermediate">intermediate</a>
    | <a href="#" id="advanced">advanced</a> (Should finish Quran once at each level.)
    <br>
    <br>
    {% if not_logged_in %}
        You must log in to be able to mark words as known or unknown!
        <br>
        <br>
    {% endif %}
    <input type="submit" value="Submit"/>
    <br><br>
    Note: If "Show word meanings" option is not selected, word meanings can still be seen on-demand by hovering mouse
    over the word.
    However, since hovering is not available on touch devices, this option might be manually enabled even if not
    suggested for the level.
</form>

<div id="formUpdate"></div>

<script>

    {% if request.is_ajax %}
        var frm = $('form[ajax-submit]')
        frm.submit(function (ev) {
            $.ajax({
                type: frm.attr('method'),
                url: frm.attr('action'),
                data: frm.serialize(),
                success: function (data) {
                    $('div#formUpdate').replaceWith(data);
                },
                error: function (data) {
                    alert(data);
                    console.log(data);
                },
            });
            ev.preventDefault();
        });
    {% endif %}

    $(document).ready(function () {
        $('a#beginner').on('click', function () {
            $('#id_show_translation').attr('checked', true)
            $('#id_show_translation').prop('checked', true)
            $('#id_show_word_meanings').attr('checked', true)
            $('#id_show_word_meanings').prop('checked', true)
            $('#id_can_mark_known_words').attr('checked', false)
            $('#id_can_mark_known_words').prop('checked', false)
            $('#id_can_mark_unknown_words').attr('checked', false)
            $('#id_can_mark_unknown_words').prop('checked', false)
        })
        $('a#intermediate').on('click', function () {
            $('#id_show_translation').attr('checked', false)
            $('#id_show_translation').prop('checked', false)
            $('#id_show_word_meanings').attr('checked', true)
            $('#id_show_word_meanings').prop('checked', true)
            $('#id_can_mark_known_words').attr('checked', true)
            $('#id_can_mark_known_words').prop('checked', true)
            $('#id_can_mark_unknown_words').attr('checked', false)
            $('#id_can_mark_unknown_words').prop('checked', false)
        })
        $('a#advanced').on('click', function () {
            $('#id_show_translation').attr('checked', false)
            $('#id_show_translation').prop('checked', false)
            $('#id_show_word_meanings').attr('checked', false)
            $('#id_show_word_meanings').prop('checked', false)
            $('#id_can_mark_known_words').attr('checked', true)
            $('#id_can_mark_known_words').prop('checked', true)
            $('#id_can_mark_unknown_words').attr('checked', true)
            $('#id_can_mark_unknown_words').prop('checked', true)
        })
    })

</script>