<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Holy Qur'an</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/quran/quran.css" type="text/css" />
    <link rel="stylesheet" href="/static/quranfal.css" type="text/css" />

    <script>
        var word_meanings = {}
        var words_to_highlight_in_aya = {}
        var words_to_highlight_in_page = []
        var display_word_meanings = false
        var learning = false
    </script>
</head>

<body>
    {% block body %}
    {% endblock %}
</body>

</html>