{% extends 'quran/base.html' %}

{% block body %}

    {% load quran %}

    {% if display_word_meanings %}
        <script> display_word_meanings = true </script>
    {% endif %}

    {% if learning %}
        <script> var learning = true </script>
        <script> var user_words = {{ user_words | safe }}</script>
    {% endif %}

    <div class="page_container">

    <div class="login_notification">
    {% if not_logged_in %}
        You can <a href="/accounts/login/">login</a> to mark words as known or add to your study list
    {% else %}
        <a href="/accounts/logout/">log out</a>
    {% endif %}
    </div>

        <div class="wire_frame">
            <div class="outer_frame">
                <div class="wire_frame">
                    <div class="inner_frame">
                        <div class="wire_frame" style="padding: 3px;">
                            <div class="page wire_frame" style="padding: 10px;">
                                {% for aya in ayas %}

                                    {% if aya.bismillah %}
                                        <div class="sura-header">سورة {{ aya.sura.text }}</div>
                                        <div class="bismillah">
                                            {{ aya.bismillah }}
                                        </div>
                                    {% endif %}

                                    <span class="aya_wrapper">
                                        <span class="aya" id="{{ aya.aya_id }}" data-sura="{{ aya.sura.number }}" data-aya="{{ aya.number }}"
                                              data-learning="{{ aya.userayas.all.0.list_id }}">
                                            {{ aya.text }}
                                        </span>

                                        <span class="key" title="&lrm;{{aya.translations.all.0.text}}&lrm;">
                                            {% if display_word_meanings or learning %}
                                                <div class="word_wrapper">
                                                <div class="study button"></div>
                                                <div class="word">
                                            {% endif %}

                                            <a class="aya_numerals" href="{{ aya.get_absolute_url }}" target="_blank">﴿{{ aya.number|arabic_numerals }}﴾</a>

                                            {% if display_word_meanings or learning %}
                                                </div>
                                                </div>
                                            {% endif %}
                                        </span>

                                        {{ aya.word_meanings_json|safe }}
                                    </span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'quran/page_navigation.html' %}
    </div>

    {% include "quran/aya_script.html" %}
    {% include "quran/page_script.html" %}

{% endblock %}