<script>

    $(document).ready(function () {

        $('body').bind('touchstart', function() {}); //magic to enable hover on touch devices

        user_words.forEach(function (word_defn) {
            var sura = word_defn[0]
            var aya = word_defn[1]
            var word = word_defn[2]
            var list = word_defn[3]
            $('span#id_' + sura + '_' + aya + ' div.word_wrapper[data-word="' + word + '"]').attr('data-list', list)
        })

        if (learning)
            $('div.button').on('click', function (event) {

                var div = $(event.target)
                var word = div.parent().attr('data-word')
                var sura = div.parent().parent().attr('data-sura')
                var aya = div.parent().parent().attr('data-aya')
                var utext = div.parent().children().first().html()
                utext = remove_diacritics(utext)

                $.ajax({
                    type: 'POST',
                    url: '/quran/learning/word/',
                    data: {
                        sura: sura,
                        aya: aya,
                        word: word,
                        list: div.hasClass('known') ? 1 : 2
                    },
                    success: function (message) {
                        message = JSON.parse(message)
                        toastr.remove()
                        toastr['info'](message.message)
                        {#                        $('span#id_' + sura + '_' + aya + ' div.word_wrapper[data-word="' + word + '"]').attr('data-list', message.list)#}
                        $('div.word').each(function (index) {
                            if (remove_diacritics($(this).html()) == utext)
                                $(this).parent().attr('data-list', message.list)
                        })
                    },
                    error: function (message) {
                        message = JSON.parse(message)
                        alert(message.message)
                        console.log(message)
                    }
                })
            })

        // CSRF code
        function getCookie(name) {
            var cookieValue = null
            var i = 0
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';')
                for (i; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i])
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1))
                        break
                    }
                }
            }
            return cookieValue
        }

        var csrftoken = getCookie('csrftoken')

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method))
        }

        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        })

    })
</script>