
div.word_wrapper[data-list="1"] div.known {
    background-color: rgba(105, 215, 40, 0.22);
}

div.word_wrapper[data-list="2"] div.study {
    background-color: rgba(222, 160, 64, 0.67);
}

div.word {
    height:45px;
}

div.word:hover {
    background-color: rgba(105, 215, 40, 0.22);
}

div.button {

}

div.known {
    width:100%;
    height: 30px;
    margin-top: -15px;
}

div.study {
    width:100%;
    height: 10px;
    margin-bottom: 10px;
}

div.known:hover {
    background-color: rgba(105, 215, 40, 0.22);
}

div.study:hover {
    background-color: rgba(222, 160, 64, 0.67);
}

div.login_notification a {
    color: blue;
}

div.login_notification {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}



